@import url('https://fonts.googleapis.com/css2?family=Molengo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

/* * {
    border: 1px dotted #f1f1f1;
} */

body {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    background-color: #023539;
    background-size: cover;
    background-position: center;
    width: 1366px;
    height: 100vh;
    margin-left: 77px;
}

.logo {
    position:absolute;
    height:168px;
    width:363px;
    left: 70px;
}

nav{
    float: right;
    margin-top: 27px;
    margin-right: 41px;
    margin-bottom: 0px;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: white;
    text-decoration: underline;
}

ul.link {
    font-style: normal;
    display: flex;
    color: white;
    font-size: 22px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    padding: 5px;
}

#cont_title{
    width: 1078px;
    height: 120px;
    margin-left: 108px;
}


.titulo {
    font-size: 48px;
    text-align: left;
    color: #FFFBFB;
    font-family: 'Molengo', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

.cod_amarillo{
    color: #DAF067;
}

.texto1{
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    color: #FFFFFF;
    width: 633px;
    height: 562px;
    margin-left: 105px;
    margin-top: 102px
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.text_container {
    flex: 1;
}
  
.imagen_container {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.personas {
    border-radius: 50%;
    width: 314px;
    height: 301px;
    position: relative;
    left: 260px;
    top: 108px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.equipo{
    border-radius: 50%;
    width: 314px;
    height: 301px;
    position: relative;
    left: 58px;
    top: 74px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.title_servicios{
    font-size: 48px;
    text-align: center;
    color: #FFFBFB;
    font-family: 'Molengo', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

.contenedor-cuadros {
    display: flex;
    justify-content: space-between;
}
.cuadro {
    width: 405px;
    height: 347px;
    text-align: center;
    border: 1px solid #000;
    margin-top: 20px;
    background-color: #FFFFFF;
    border-radius: 15%;
}
.amarillo {
    color: yellow;
}
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: inherit;
    margin-top: auto;
    bottom: 0;
    width: 100%;
}
.footer img {
    width: 30px;
    margin: 0 10px;
}


